# Python Programming for Finance

# Assignment 1

## Instructions

Write the code in order to answer the questions in the empty cells, you can use more cells if required. Include a cell below a selected cell by typing `b` in the keyboard. Name the file with your lastname and name and upload it to Moodle before September 28 23:59

# Preliminaries

It is possible to directly download financial data from the yahoo finance API, by using the company's ticker, and two dates
expressed in UNIX time stamp (number of seconds after January 1 1970)

In [13]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime
import time
# datetime date uses the yyyy, mm, dd format
before = int(time.mktime(datetime.date(2010,1,1).timetuple()))# Starting date
today  = int(time.mktime(datetime.date(2020,1,1).timetuple()))# Last date

In [11]:
ticker = 'tsla' # Download data for tesla

In [12]:
url=f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={before}&period2={today}&interval=1d&events=history&includeAdjustedClose=true"
url

'https://query1.finance.yahoo.com/v7/finance/download/tsla?period1=1262300400&period2=1577833200&interval=1d&events=history&includeAdjustedClose=true'

In [15]:
df = pd.read_csv(url)
df.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500

## Dataframe consists of
* Date in yyyy-mm-dd format
* Open  : Stock price at the beginning of the day
* High  : Maximum price during the trading day
* Low   : Lowest price over the trading day
* Close : Closing price by the end of the day
* Adj Close : Closing prices adjusting for splits and dividend payments
* Volume : Number of shares traded

# Assignment

## Exercise 1 (20 points)

Create a single dataframe that contains the daily stock price of Apple (aapl), Microsoft (msft), Tesla (tsla), Amazon (amzn), and Facebook (fb). Download only the information between January 1st 2010 and December 31 2020. Keep only the ticker, the date, and the adjusted close price. Use the function `time.sleep(1)` to wait one second before retreiving the data for each ticker. If you run into problems, use a `try except` block to understand where the code fails. 

Name the columns in such a way that is easier to access later on

## Exercise 2 (20 Points)

Compute daily returns for every ticker by using the adjusted close price. For this sort your data, group it by ticker, and use the apply method. You can use the available function `shift(1)` to compute a one day lag on prices.

## Exercise 3 (40 points)

In asset management, the high-water mark is defined as the maximum price that an asset has reached up to some time $t$. 

$ HWM_t = \max \{ p_s : s \leq t\}$

The maximum drawdown is defined as the percentage fall from the high-water mark. 

$MDD_t = (p_t - HWM_t)/HWM_t$


Using the adjusted close price as $p$ and any method (for loops, apply and lambda functions, etc) compute the high-water mark, and maximum drawdown, for every ticker and every point in time. Include it as a column in the dataframe. When using lags, always verify your data is sorted. Hint: you can use the `pd.DataFrame.cummax` function.

## Exercise 4 (20 points)

Pick a ticker in the sample, and plot the price and the high-water mark. Check the documentation of `plt.plot()` function to customize the graph.